<tr id="skill_{{typeid}}">
    <td colspan='2'>
        <b>{{name}}</b><br />SP: {{commas skillpoints}} / {{spNextLevel level timeconstant}} ({{timeconstant}}x)
        <div class='tooltip-wrap'>
            <b>Completed Level:</b> {{romanize level}}<br />
            <b>Training time:</b> {{timeToComplete this}}<br/>
            <b>Attributes: </b> {{decodeAttribute primaryattr}} / {{decodeAttribute secondaryattr}} ({{spPerHour this}} SP/Hour)<br /><br />
            <b>Description:</b><br />{{description}}
        </div>
    </td>
    <td class='right'>
        <img data-level="{{level}}" src="/static/img/skill{{level}}.png" /><br />Level {{level}}
    </td>
</tr>