{{#characters}}
<div class="uk-width-1-1 uk-width-medium-1-1 uk-width-large-1-2" style="padding-bottom: 10px">
    <article class="uk-comment phony" id="character_{{character_id}}">
        <header class="uk-comment-header">
            <img class="uk-comment-avatar" src="https://image.eveonline.com/Character/{{character_id}}_128.jpg" alt={{name}} />
            <h4 class="uk-comment-title">{{name}}</h4>
            <div class="uk-comment-meta">
                {{corporation_name}}<br />
                {{commas balance}} ISK<br />
                {{#ifInFuture training_end}}
                    Queue finishes in: 
                    <span data-expiration="{{training_end}}"> 
                        {{timeDifference training_end fromNow=true}}
                    </span><br />
                    {{formatTime training_end}}
                {{else}}
                    No skill in training
                {{/ifInFuture}}
            </div>
        </header>
    </article>
</div>
{{/characters}}