<div class="uk-width-1-1 uk-hidden-small">
    <img class="uk-comment-avatar" src="https://image.eveonline.com/Character/{{character_id}}_128.jpg" alt={{name}} />
    <dl class="uk-description-list uk-description-list-horizontal">
        <dt>Bio</dt><dd>{{bio}}</dd>
        <dt>Balance</dt><dd>{{commas balance}} ISK</dd>
        <dt>Birthday</dt><dd>{{formatTime birthday}}</dd>
        <dt>Corporation</dt><dd>{{corporation_name}}</dd>
        <dt>Skillpoints</dt><dd id="skillpoints">{{commas skillpoints}}</dd>
        <dt>Clone</dt><dd>{{commas clone_skillpoints}} ({{clone_grade}})</dd>
    </dl>
</div>